@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

body {
    background-color: #89A4D1;
    margin: 0;
}

main {
    background-color: white;
    box-shadow: 3px 3px 5px #1C385F;
    color: #69412E;
    margin: auto;
    padding: 20px;
    width: 99%;
}

.title-image-wrapper {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

h1, h2 {
    color: black;
    display: inline;
    font-size: 2.4em;
    margin: 0;
}

h1 {
    font-family: 'Open Sauce', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-family: 'Baloo 2', cursive;
    font-weight: lighter;
    margin-top: 0;
    text-transform: lowercase;
}

h3 {
    color: #86000F;
    font-family: 'Baloo 2', cursive;
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: capitalize;
}

p {
    font-size: 16px;
}

p, h4, h5 {
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    margin: 0;
}

h4 {
    font-size: 20px;
}

h5 {
    color: #DF331B;
    font-family: 'Baloo 2', cursive;
    font-size: 23px;
    font-weight: 900;
}

h6 {
    text-align: center;
    padding: 10px;
    color: white;
    font-family: 'Muli', sans-serif;
}

img.lado0, img.lado2 {
    height: auto;
    max-width: 30px;
    margin-left: 10px;

}

img.lado1 {
    float:right;
    height: auto;
    max-width: 160px;
}

img.lado3 {
    float: right;
    height: auto;
    max-width: 130px;
}

.items-container {
    display: flex;
    justify-content: flex-start;
}

.div-item1, .div-item2 {
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.div-item1 div, .div-item2 div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

a {
    color: #69412E;
    font-weight: bold;
    text-decoration: none;
}

.buy-button {
    background-color: #0077B5;
    border: #0077B5;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px
}

.buy-button:hover {
    background-color: #29ABE2;
    border: #29ABE2;
    color: white; /* Cor de fundo ao passar o mouse */
}